#toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 3; }

#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
  width: 100%;
  height: 3px;
  background: white; }

#toggle div.bar, #toggle div.bar:before, #toggle div.bar:after {
  width: 100%;
  height: 3px;
  background: #ED9000; }
#toggle div.bar {
  position: relative;
  transform: translateY(9px);
  transition: all 0.3s 0.3s ease; }
  #toggle div.bar:after, #toggle div.bar:before {
    content: " ";
    position: absolute;
    transition: all 0.3s 0.3s ease, transform 0.3s ease; }
  #toggle div.bar:before {
    bottom: 9px; }
  #toggle div.bar:after {
    top: 9px; }
#toggle div.bar.animate:after, #toggle div.bar.animate:before {
  transition: all 0.3s ease, transform 0.3s 0.3s ease; }
#toggle div.bar.animate:after {
  top: 0;
  transform: rotate(45deg); }
#toggle div.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg); }

#fullpage {
  z-index: 1; }

#page {
  background: #222222;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 0; }

#off-canvas {
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: -200vw;
  height: 100vh;
  transition: all 0.3s ease;
  background: #ED9000; }
  #off-canvas nav ul, #off-canvas nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: static; }
  #off-canvas nav ul {
    padding: 30px;
    text-align: center; }
  #off-canvas nav ul li {
    margin-bottom: 15px;
    font-size: 2em; }
  #off-canvas nav ul li a {
    text-transform: uppercase;
    color: #f9f9f9;
    text-decoration: none; }

body.open #fp-nav {
  display: none; }
body.open #toggle div.bar:before, body.open #toggle div.bar:after {
  background: #f9f9f9; }
body.open #toggle div.bar {
  background: #ED9000; }

body.open #off-canvas {
  top: 0; }

#section0 img {
  width: 100%;
  filter: blur(3px); }
#section0 h1 {
  color: #f9f9f9;
  text-align: center;
  font-family: "bauerbodni_btbold"; }
#section0 p {
  color: #f9f9f9;
  text-align: center;
  font-family: "bauerbodni_btbold"; }
#section0 h4 {
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid #f9f9f9;
  margin: 2% 40%;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section0 a {
  color: #f9f9f9; }
#section0 .img {
  position: relative; }
#section0 .text {
  position: absolute;
  top: 40%;
  left: 10px;
  width: 100%; }

#sectiontext {
  padding-bottom: 3%; }
  #sectiontext h2 {
    text-transform: uppercase;
    color: #222222;
    font-size: 2em;
    padding-bottom: 5px;
    padding-top: 2%;
    border-bottom: 1px solid #ED9000;
    margin: 0% 30%;
    letter-spacing: 5px;
    font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
  #sectiontext h3 {
    text-transform: uppercase;
    color: #222222;
    font-size: 1.3em;
    padding: 5px;
    letter-spacing: 2.5px;
    font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
  #sectiontext p.text1 {
    width: 30%;
    padding: 4% 2% 2% 4%;
    text-align: left;
    font-size: 1.2em;
    color: #222222;
    letter-spacing: 2.5px;
    font-family: 'akzidenz-grotesk_bqregular', sans-serif; }
  #sectiontext p.text2 {
    width: 55%;
    padding: 2% 0% 0% 4%;
    text-align: left;
    font-size: 1.2em;
    color: #222222;
    font-family: 'akzidenz-grotesk_bqregular', sans-serif; }
  #sectiontext img {
    width: 15%;
    margin-top: -50%;
    margin-left: 50%;
    padding-bottom: 2%; }

#section1 img {
  width: 100%; }
#section1 p {
  color: #f9f9f9;
  text-align: center;
  width: 30%;
  padding: 0% 35%;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'akzidenz-grotesk_bq_lightRg', sans-serif; }
#section1 .img {
  position: relative; }
#section1 .text {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 100%; }

#section2 h2 {
  text-transform: uppercase;
  color: #f9f9f9;
  font-size: 2em;
  padding-bottom: 5px;
  padding-top: 2%;
  border-bottom: 1px solid #ED9000;
  margin: 0% 15%;
  letter-spacing: 5px;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .ascolta li.spotify {
  float: left;
  width: 13%;
  text-align: right;
  border-bottom: 1px solid #80D422;
  margin: 3% 10%;
  padding: 0.5% 0%;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .ascolta li.youtube {
  float: left;
  width: 13%;
  text-align: right;
  border-bottom: 1px solid #FA4A9D;
  margin: 3% 10%;
  padding: 0.5% 0%;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .ascolta li.facebook {
  float: left;
  width: 13%;
  text-align: right;
  border-bottom: 1px solid #80C3F2;
  margin: 3% 10%;
  padding: 0.5% 0%;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .ascolta a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .footer ul {
  overflow-x: hidden;
  white-space: nowrap;
  height: 1em;
  width: 100%;
  background-color: #333;
  padding: 45px 0px; }
#section2 .footer li.left {
  text-align: left;
  color: #f9f9f9;
  font-size: 0.5em;
  display: inline;
  padding-right: 70%;
  font-family: 'akzidenz-grotesk_bqbold', sans-serif; }
#section2 .footer li.right {
  text-align: right;
  display: inline; }
  #section2 .footer li.right a {
    color: #f9f9f9;
    font-size: 0.5em;
    padding: 0% 2%;
    font-family: 'akzidenz-grotesk_bqbold', sans-serif; }

ul.first li {
  float: left;
  width: 33%;
  padding: 2% 0%; }
  ul.first li img {
    width: 30%;
    margin: 0 auto; }

ul.second li {
  display: none;
  float: left;
  width: 33%;
  padding: 2% 0%; }
  ul.second li img {
    width: 30%;
    margin: 0 auto; }

ul.third li {
  display: none;
  float: left;
  width: 33%;
  padding: 2% 0%; }
  ul.third li img {
    width: 30%;
    margin: 0 auto; }

ul.fourth li {
  display: none;
  float: left;
  width: 33%;
  padding: 2% 0%; }
  ul.fourth li img {
    width: 30%;
    margin: 0 auto; }

@font-face {
  font-family: 'bauerbodni_btbold';
  src: url("bauer_bodoni_bold_bt-webfont.woff2") format("woff2"), url("bauer_bodoni_bold_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bqregular';
  src: url("akzidenzgrotesk-regular-webfont.woff2") format("woff2"), url("akzidenzgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bq_lightRg';
  src: url("akzidenzgrotesk-light-webfont.woff2") format("woff2"), url("akzidenzgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bqbold';
  src: url("akzidenzgrotesk-bold-webfont.woff2") format("woff2"), url("akzidenzgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
