@font-face {
  font-family: 'bauerbodni_btbold';
  src: url("./fonts/bauer_bodoni_bold_bt-webfont.woff2") format("woff2"), url("./fonts/bauer_bodoni_bold_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bqregular';
  src: url("./fonts/akzidenzgrotesk-regular-webfont.woff2") format("woff2"), url("./fonts/akzidenzgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bq_lightRg';
  src: url("./fonts/akzidenzgrotesk-light-webfont.woff2") format("woff2"), url("./fonts/akzidenzgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'akzidenz-grotesk_bqbold';
  src: url("./fonts/akzidenzgrotesk-bold-webfont.woff2") format("woff2"), url("./fonts/akzidenzgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: arial,helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5); }

h1 {
  font-size: 6em; }

h1, h2, h3 {
  padding-left: 30px;
  padding-right: 30px; }

.section {
  text-align: center; }
  .section .content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section h1, .section h2 {
    font-family: "bauerbodni_btbold"; }
  .section h2 {
    font-size: 3em;
    color: #222222;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center; }
    .section h2:after {
      content: " ";
      margin-top: 15px;
      display: block;
      border-bottom: 3px solid #ED9000;
      width: 200px;
      margin-left: auto;
      margin-right: auto; }

#page {
  background: #222222;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 0; }

#toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 3; }
  #toggle div.bar, #toggle div.bar:before, #toggle div.bar:after {
    width: 100%;
    height: 3px;
    background: #ED9000; }
  #toggle div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease; }
    #toggle div.bar:after, #toggle div.bar:before {
      content: " ";
      position: absolute;
      transition: all 0.3s 0.3s ease, transform 0.3s ease; }
    #toggle div.bar:before {
      bottom: 9px; }
    #toggle div.bar:after {
      top: 9px; }

body.off-canvas #toggle div.bar:after, body.off-canvas #toggle div.bar:before {
  transition: all 0.3s ease, transform 0.3s 0.3s ease; }
body.off-canvas #toggle div.bar:after {
  top: 0;
  transform: rotate(45deg); }
body.off-canvas #toggle div.bar:before {
  bottom: 0;
  transform: rotate(-45deg); }

#off-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: -101vh;
  height: 100vh;
  background: #ED9000; }
  #off-canvas nav ul {
    display: block; }
    #off-canvas nav ul li:hover {
      text-decoration: underline;
      transition: all 0.1s ease; }
  #off-canvas nav ul {
    padding: 30px;
    text-align: center; }
  #off-canvas nav ul li {
    margin-bottom: 15px;
    list-style: none;
    transition: all 0.3s ease;
    font-size: 4em;
    font-family: "bauerbodni_btbold"; }
  #off-canvas nav ul li a {
    color: #f9f9f9;
    text-decoration: none; }

body.off-canvas #off-canvas {
  top: 0; }
body.off-canvas #toggle div.bar:before, body.off-canvas #toggle div.bar:after {
  background: #f9f9f9; }
body.off-canvas #toggle div.bar {
  background: #ED9000; }

#page-section1 {
  background-image: url("../img/section0.jpg");
  background-size: cover; }
  #page-section1 h2:after {
    display: none; }
  #page-section1 h1, #page-section1 h2, #page-section1 a {
    color: #f9f9f9;
    text-align: center; }
  #page-section1 a.link {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    border: 1px solid #f9f9f9;
    font-family: "akzidenz-grotesk_bqbold", sans-serif;
    padding: 15px;
    margin-top: 60px;
    font-size: 2em;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    -ms-border-radius: 7.5px;
    border-radius: 7.5px; }
    #page-section1 a.link:hover {
      background-color: #222222;
      border-color: #222222;
      color: #f9f9f9;
      text-decoration: none; }

#page-section2 h2 {
  color: #222222; }
#page-section2 .col {
  padding: 60px; }
#page-section2 .col1 {
  padding-top: 90px; }
#page-section2 .col2 {
  text-align: center; }
  #page-section2 .col2 img {
    max-height: 300px;
    margin-right: auto;
    margin-left: auto; }

#page-section3 .text {
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  padding: 30px;
  color: #f9f9f9;
  width: 50%;
  margin-right: auto;
  margin-left: auto; }
#page-section3 .slide {
  background-size: cover; }
#page-section3 .slide1 {
  background-image: url("../img/section1a.png"); }
#page-section3 .slide2 {
  background-image: url("../img/section1b.png"); }
#page-section3 .slide3 {
  background-image: url("../img/section1c.png"); }

#page-section4 h2 {
  color: #f9f9f9;
  font-family: "akzidenz-grotesk_bqregular", sans-serif;
  margin-bottom: 30px; }
#page-section4 a.link {
  display: block;
  color: white;
  text-decoration: none; }
#page-section4 .listen {
  margin-bottom: 90px; }
  #page-section4 .listen a.link {
    letter-spacing: 5px;
    font-size: 2em;
    font-family: "akzidenz-grotesk_bqregular", sans-serif; }
    #page-section4 .listen a.link i {
      font-size: 2em; }
      #page-section4 .listen a.link i:after {
        vertical-align: middle; }
#page-section4 .buy a.link img {
  width: 150px;
  filter: grayscale(100%); }
#page-section4 .buy a.link img:hover {
  filter: none; }

@media all and (max-width: 375px) {
  .section h2 {
    font-size: 2em; }

  #page-section1 h2 {
    font-size: 3em; }

  #page-section2 h2 {
    padding-top: 60px; }
  #page-section2 .col1 {
    padding-top: 0;
    padding-bottom: 0; }
  #page-section2 .col2 {
    position: absolute;
    margin-top: -690px;
    width: 170px;
    padding-left: 30px; }

  #page-section3 .slide .text {
    font-size: 1.5em; }

  #page-section4 .listen {
    margin-bottom: 30px; }
    #page-section4 .listen a.link {
      margin-bottom: 15px;
      font-size: 1.5em; }
      #page-section4 .listen a.link i {
        font-size: 1.5em; }
  #page-section4 .buy a.link img {
    width: 120px; }

  #off-canvas nav ul li {
    margin-bottom: 15px;
    font-size: 3em; } }

/*# sourceMappingURL=style.css.map */
