#page {
  background: #222222;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 0;
}


#toggle {
  position: absolute;
  top: $spacer*2;
  right: $spacer*2;
  width: $spacer*2;
  height: 21px;
  cursor: pointer;
  z-index: 3;
  div.bar, div.bar:before, div.bar:after {
    width: 100%;
    height: 3px;
    background: $extra-color;
  }
  div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
    &:after, &:before{
      content: " ";
      position: absolute;
      transition: all 0.3s 0.3s ease, transform 0.3s ease;
    }
    &:before {
      bottom: 9px;
    }
    &:after {
      top: 9px;
    }
  }
}


body.off-canvas #toggle div.bar {
  &:after, &:before{
    transition: all 0.3s ease, transform 0.3s 0.3s ease;
  }
  &:after {
    top: 0;
    transform: rotate(45deg);
  }
  &:before {
    bottom: 0;
    transform: rotate(-45deg);
  }
}






#off-canvas {
  display:flex;
  justify-content:center;
  align-items:center;

  transition: all 0.3s ease;
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: -101vh;
  height: 100vh;
  background: $extra-color;
  nav ul {
    display: block;
    li:hover{
      text-decoration: underline;
      transition: all 0.1s ease;
    }
  }
  nav ul {
    padding: $spacer*2;
    text-align: center;
  }
  nav ul li {
    margin-bottom: $spacer;
    list-style: none;
    transition: all 0.3s ease;
    font-size: 4em;
    font-family: $font2-bold;
  }
  nav ul li a {
    color: $secondary-color;
    text-decoration: none;
  }
}


body.off-canvas{
  #off-canvas {
    top: 0;
  }
  #toggle {
    div.bar:before, div.bar:after {
      background: $secondary-color;
    }
    div.bar{
      background: $extra-color;
    }
  }
}
