@media all and (max-width: 375px) {
  .section {
    h2 {
      font-size: 2em;
    }
  }
  #page-section1 {
    h2 {
      font-size: 3em;
    }
  }
  #page-section2 {
    .col {
      padding-top: $spacer;
    }
    .col1 {
      padding-top: 0;
    }
  }
  #page-section3 {
    .slide {
      .text{
        font-size: 1.5em;
      }
    }
  }
  #page-section4 {
    .listen {
      margin-bottom: $spacer*2;
      a.link {
        margin-bottom: $spacer;
        font-size: 1.5em;
        i {
          font-size: 1.5em;
        }
      }
    }
    .buy {
      a.link {
        img {
          width: 120px;
        }
      }
    }
  }

  #off-canvas {
    nav ul li {
      margin-bottom: $spacer;
      font-size: 3em;
    }
  }
}
