#page-section1{
  background-image: url('../img/section0.jpg');
  background-size: cover;

  h2 {
    &:after {
      display: none;
    }
  }


  h1,h2,a {
    color: $secondary-color;
    text-align: center;
  }
  a.link{
    display: block;
    width: 200px;
    @include margin-auto;
    text-transform: uppercase;
    border: 1px solid $secondary-color;
    font-family: $font1-bold;
    padding: $spacer;
    margin-top: $spacer*4;
    font-size: 2em;
    @include border-radius($spacer/2);
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $secondary-color;
      text-decoration: none;

    }
  }

}
