
#page-section4 {
  h2 {
    color: $secondary-color;
    font-family: $font1-regular;
    margin-bottom: $spacer*2;
  }
  a.link {
    display: block;
    color: white;
    text-decoration: none;
  }
  .listen {
    margin-bottom: $spacer*6;
    a.link {
      letter-spacing: 5px;
      font-size: 2em;
      font-family: $font1-regular;
      i {
        font-size: 2em;
        &:after {
          vertical-align: middle;
        }
      }
    }
  }

  .buy {
    a.link {
      img {
        width: 150px;
      }
    }
  }

}
