#page-section2{
  h2 {
    color: $primary-color;
  }
  .col {
    padding: $spacer*4;

  }
  .col1 {
    padding-top: $spacer*6;
  }
  .col2 {
    text-align: center;
    img {
      max-height: 300px;
      @include margin-auto;
    }
  }
}
