#page-section3 {
  .text{
    font-size: 2em;
    background-color: rgba(255,255,255,0.2);
    @include border-radius($spacer/2);
    padding: $spacer*2;
    color: $secondary-color;
    width: 50%;
    @include margin-auto;
  }

  .slide {
    background-size: cover;
  }

  .slide1{
  	background-image: url('../img/section1a.png');
  }

  .slide2{
  	background-image: url('../img/section1b.png');
  }

  .slide3{
  	background-image: url('../img/section1c.png');
  }
}
