// VARIABLES
$spacer: 15px;
$primary-color: #222222;
$secondary-color: #f9f9f9;
$extra-color: #ED9000;

body {
  //display: none !important;
}

@import "font";
@import "off-canvas";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "responsive";
