body {
  //display: none !important;
}



#toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 2;
}

#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
  width: 100%;
  height: 3px;
  background: white;
}

#toggle {
  div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;

    &:after, &:before{
      content: " ";
      position: absolute;
      transition: all 0.3s 0.3s ease, transform 0.3s ease;
    }

    &:before {
      bottom: 9px;
    }
    &:after {
      top: 9px;
    }
  }

  div.bar.animate {
    background: rgba(255, 255, 255, 0);
    &:after, &:before{
      transition: all 0.3s ease, transform 0.3s 0.3s ease;
    }
    &:after {
      top: 0;
      transform: rotate(45deg);
    }
    &:before {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}



#fullpage {
  z-index: 1;
}
